* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: 'Courier New', Courier, monospace;

    .flight-clock {
        font-weight: 800;
    }

    h1 {
        padding: 5px 20px;
        width: max-content;
        border-radius: 5px;

        background-color: chocolate;
        color: white;

        text-align: center;
    }

    section.flight-clock {
        display: grid;
        place-items: center;

        color: orange;
        font-size: 40px;
    }

    td {
        padding: 5px;
        border: 1px solid black;
        background: black;
        color: white;
    }

    th {
        min-width: 50px;
        padding: 5px;
        border: 1px solid black;

    }

    .flight-table th {
        text-align: left;
        background-color:chocolate;
        color: white;
    }

    .flight-table th:nth-child(1){
        width: 60px;
    }

    .flight-table th:nth-child(2){
        width: 160px;
    }
    .flight-table th:nth-child(3){
        width: 160px;
    }
    .flight-table th:nth-child(4){
        width: 360px;
    }
    .flight-table th:nth-child(5){
        width: 360px;
        font-weight: 800;
    }

    .scheduled {
        color: orange;
    }

    .in-flight {
        color: red;
        animation: 'blink' 1500ms ease-in-out infinite ;
    }

    .landed {
        color: green;
    }


    
    

    .flight-board {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}

@keyframes blink {
    0% {
        color: transparent;
    }
    20% {
        color: red;
    }
}